<!DOCTYPE html>
<html lang="en">

    <head>

        <!-- Meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        
        <!-- Page header meta -->
        <title>Aerostack</title>
        <meta name="description" content="">
        <meta name="author" content="">


    </head>

    <body>
        
        Hello
        
    </body>

</html>

<script>
    let connectionString = 'ws://127.0.0.1:8000/ws/user/';
    this.webSocket = new WebSocket(connectionString);
</script>

